:css
  body { margin: 0; font-family: sans-serif; }

  input#query { font-size: 20pt; width: 265px; height: 50px; border: 1px #777 solid; }
  button.search { width: 50px; height: 50px; background: #777 url('magnifying_glass.png') no-repeat 8px 8px; background-size: 30px 30px; vertical-align: bottom; }

  th { align: left }
  .utterance {
    margin-bottom: 10px;
  }
  .utterance .word {
    padding-right: 0px;
    display: inline-block;
    text-align: left;
  }
  .utterance .word .spanish {
    font-style: italic;
    margin-right: 0px;
    font-size: 16pt;
  }
  .utterance .word .gloss {
    color: #aaa;
    line-height: 50%;
    margin-right: 0px;
    font-size: 10pt;
    font-family: 'AvenirNextCondensed-UltraLight';
  }
  .rating1 {
    color: green;
  }
  .rating2 {
    color: #770;
  }
  .rating3 {
    color: red;
  }

  .excerpt { width: 320px; min-height: 64px; border-bottom: 1px #777 solid; cursor: pointer; position: relative; clear: both; }
  .excerpt .cover { width: 64px; height: 64px; margin-left: 0px; float: right; }
  .excerpt.nonexpanded .cover { -webkit-filter: grayscale(100%); filter: grayscale(100%); }
  .excerpt.expanded { display: none; }
  .excerpt .play-button { width: 64px; height: 64px; background: url('play_button4.png'); background-size: 64px 64px; position: absolute; right: 0; }
  .excerpt .quote { font-size: 15pt; margin-left: 5px; margin-right: 75px; line-height: 130%; padding-top: 5px; }
  .excerpt .song-name { font-style: italic; font-size: 16pt; margin-left: 5px; }
  .excerpt .artist-name { font-size: 16pt; margin-left: 5px; }

%form(method='GET' action='/')
  %input#query(name='q' placeholder='Filter by word')
  %button.search

  - @lines.each_with_index do |line, line_num|
    .excerpt.nonexpanded{id: "excerpt-nonexpanded-#{line_num}", onclick: "expandExcerpt(#{line_num})"}
      .cover{style: "background: url('#{line.song.api_query.cover_image_url}')"}
      .play-button(src='play_button4.png')
      .quote
        - line.line_words.each_with_index do |line_word, w|
          - before_word = ((w == 0) ? '&ldquo;' : '') + line.line[line_word.begin_char_punctuation...line_word.begin_char_highlight]
          - actual_word = line.line[line_word.begin_char_highlight...line_word.end_char_highlight]
          - after_word = line.line[line_word.end_char_highlight...line_word.end_char_punctuation] + ((w == line.line_words.size - 1) ? '&rdquo;' : '')
          - actual_word = "<span class='rating#{line_word.rating}'>" + actual_word + "</span>"
          - if line_word.word_id == @word_id
            != "#{before_word}<b>#{actual_word}</b>#{after_word}"
          - else
            != "#{before_word}#{actual_word}#{after_word}"
    .excerpt.expanded{id: "excerpt-expanded-#{line_num}", onclick: "unexpandExcerpt(#{line_num})"}
      .utterance
        - line.line_words.each_with_index do |line_word, w|
          - before_word = ((w == 0) ? '&ldquo;' : '') + line.line[line_word.begin_char_punctuation...line_word.begin_char_highlight]
          - actual_word = line.line[line_word.begin_char_highlight...line_word.end_char_highlight]
          - after_word = line.line[line_word.end_char_highlight...line_word.end_char_punctuation] + ((w == line.line_words.size - 1) ? '&rdquo;' : '')
          - actual_word = "<span class='rating#{line_word.rating}'>" + actual_word + "</span>"
          .word
            .spanish
              - if line_word.word_id == @word_id
                != "#{before_word}<b>#{actual_word}</b>#{after_word}"
              - else
                != "#{before_word}#{actual_word}#{after_word}"
            .gloss
              - if line_word.translation
                != "#{before_word}#{line_word.translation.english_word}#{after_word}"
              - else
                &nbsp;
          - if w < line.line_words.size - 1
            - between_words = line.line[line_word.end_char_punctuation...line.line_words[w + 1].begin_char_punctuation]
            - if between_words.strip != ''
              .word
                .spanish= between_words
                .gloss= between_words

      %input(placeholder='Video ID' size='5'){name: "#{line.song.source_num}.video_id[]", value: line.song.video && line.song.video.youtube_video_id}
      %button(type='submit' name="#{line.song.source_num}.set_video_id") Set
      - if line.alignment
        %button{onclick: "audio = new Audio('/excerpt.wav?video_id=#{line.song.video.youtube_video_id}&begin_millis=#{line.alignment.begin_millis}&end_millis=#{line.alignment.end_millis}'); audio.play(); event.preventDefault();"} Play
      - else
        %a{href: "/manually-align/#{line.song.source_num}"} Align

      .cover{style: "background: url('#{line.song.api_query.cover_image_url}')"}
      .song-name= line.song.song_name[0...20]
      .artist-name= line.song.artist_name[0...20]

:javascript
  currentlyExpandedLineNum = null;
  function unexpandExcerpt(lineNum) {
    document.getElementById('excerpt-nonexpanded-' + currentlyExpandedLineNum).style.display = null;
    document.getElementById('excerpt-expanded-' + currentlyExpandedLineNum).style.display = null;
    currentlyExpandedLineNum = null;
  }
  function expandExcerpt(lineNum) {
    if (currentlyExpandedLineNum) {
      unexpandExcerpt(currentlyExpandedLineNum);
    }
    document.getElementById('excerpt-nonexpanded-' + lineNum).style.display = 'none';
    document.getElementById('excerpt-expanded-' + lineNum).style.display = 'block';
    currentlyExpandedLineNum = lineNum;
  }
:javascript
  document.getElementById('query').focus();
