%form(method='POST' action='/set-video-id')
  %input(type='hidden' name='redirect_url'){value: "#{request.path}?#{request.query_string}"}
  - @songs.each do |song|
    %li ##{song.source_num}: #{song.artist_name}: #{song.song_name}
    %ul
      %li
        Video ID
        %input{name: "#{song.source_num}.video_id", value: song.video && song.video.youtube_video_id}
        %button{name: "#{song.source_num}.set_video_id"} Set
        %a{href: "/manually-align/#{song.source_num}"} Align

      - song.lines.each_with_index do |line, line_num|
        %li
          != "&ldquo;#{line.line}&rdquo;"
          - if line.alignment
            %button{onclick: "audio = new Audio('/excerpt.wav?video_id=#{song.video.youtube_video_id}&begin_millis=#{line.alignment.begin_millis}&end_millis=#{line.alignment.end_millis}'); audio.play(); event.preventDefault();"} Play
